<!DOCTYPE html>
<html>
<head>
    <title>Malicious Computers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</head>

<body>
    <!-- The Top Navigation Bar -->
    <div class="navbar"></div>

    <h1>INQUISITOR</h1>
    <h3>Alexandria Lunderman and Chris Tran</h3>

    <div id="container">
    	<!-- List of items presented as 'cards' -->
    	<div id="compList"></div>

    	<!-- Object details -->
    	<div id="info">
    		<h2>Computer Info</h2>
    	</div>
	</div>
</body>
</html>
